[submodule "demo-projects/aws-access-management-vault-terraform-cloud"]
	path = demo-projects/aws-access-management-vault-terraform-cloud
	url = https://github.com/aungkohtat/aws-access-management-vault-terraform-cloud.git
