[submodule "demo-projects/aws-access-management-vault-terraform-cloud"]
	path = demo-projects/aws-access-management-vault-terraform-cloud
	url = https://github.com/aungkohtat/aws-access-management-vault-terraform-cloud.git
[submodule "demo-projects/terraform-create-vault-admin-iam-aws"]
	path = demo-projects/terraform-create-vault-admin-iam-aws
	url = https://github.com/aungkohtat/terraform-create-vault-admin-iam-aws.git
